.add-todo {
    width: 85vw;
    background: #FFFFFF;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.185434);
    border-radius: 3px;
    margin-top: 30px;
}

.list-todo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.todo-element {

}

.todo__line {
    position: relative;
    top: 33px;
    width: 50px;
    margin-right: 12px;
    border: none;
    background-color: #979797;
    height: 1px;
    opacity: 0.55;
}

.window-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding-left: 30px;
    padding-right: 47px;
    padding-bottom: 5px;
}

.todo__title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding-left: 30px;
    padding-right: 47px;
    margin-bottom: 10px;
}

.todo__input {
    mix-blend-mode: normal;
    opacity: 0.55;
    border: none;
    border-bottom: 1px solid #979797;
    outline: none;
    margin-left: 30px;
    padding-right: 90px;
    padding-bottom: 7px;
    margin-bottom: 45px;
}

.field__date {
    display: flex;
}

.todo__date_first {
    width: 15px !important;
    margin-left: 30px;
}

.todo__date_last {
    width: 30px !important;
}


.todo__date {
    width: 70px;
    mix-blend-mode: normal;
    opacity: 0.55;
    border: none;
    border-bottom: 1px solid #979797;
    outline: none;
    margin-bottom: 35px;
    margin-right: 62px;
}

.todo__input_color {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0 0 30px 30px;
}

.todo__addBtn {
    width: 100%;
    height: 50px;
    background: #5B3E96;
    box-shadow: 0 20px 30px rgba(91, 62, 150, 0.4);
    border: none;
    outline: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.all-done {
    font-size: 24px;
    color: #FFFFFF;
}