.description-todo {
    z-index: 2;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.185434);
    border-radius: 3px;
    width: 85vw;
    margin-top: 120px;
}

.description__title {
    align-items: baseline;
    display: inline-flex;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    padding-left: 80px;
    margin-bottom: 0;
}

.description__color {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 46px;
    left: 48px;
    border: none;
    border-radius: 50%;
    background: transparent;
}

.description__img {
    margin-right: 15px;
}

.description__date {
    display: flex;
    margin-left: 45px;
    padding-right: 25px;
}

.description__text {
    margin-left: 45px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.description__completed {
    margin: 0 12px 33px 45px;
}

.description__done {
    margin-left: 70px;
}

.item__done_desc {
    margin-top: 0 !important;
    margin-left: -25px !important;
}

.item__undone_desc {
    height: 16px;
    margin-top: 0 !important;
    margin-left: -25px !important;
    background: red !important;
}

.done__text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.description__removeIcon {
    z-index: 2;
}

.description__btn {
    width: 100%;
    height: 50px;
    box-shadow: 0 20px 30px rgba(91, 62, 150, 0.4);
    border: none;
    outline: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FF5C5C;
    color: #FFFFFF;
}
