.description-todo {
    position: absolute;
}

.description-content{
    width: 85%;
    margin-left: 30px;
    background: #fff;
    border-radius: 3px;
    margin-top: 155px;
}

.description__title {
    align-items: baseline;
    display: inline-flex;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    padding-left: 55px;
    margin-bottom: 0;
    margin-top: 0;
}

.description__color {
    width: 15px;
    height: 15px;
    position: relative;
    right: 30px;
    border: none;
    border-radius: 50%;
    background: transparent;
}

.description__img {
    margin-right: 15px;
}

.description__date {
    display: flex;
    margin-left: 22px;
    padding-right: 25px;
}

.description__text {
    margin-left: 23px;
    margin-right: 23px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.description__completed {
    margin: 0 12px 33px 45px;
}

.description__done {
    margin-left: 48px;
    margin-right: 20px;
}

.item__done_desc {
    margin-top: 0 !important;
    margin-left: -25px !important;
}

.item__undone_desc {
    height: 16px;
    margin-top: 0 !important;
    margin-left: -25px !important;
    background: red !important;
}

.done__text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.description__removeIcon {
    fill: #FFFFFF;
    position: relative;
    top: 37px;
    left: 110px;
}

.description__btn {
    width: 100%;
    height: 50px;
    box-shadow: 0 20px 30px rgba(91, 62, 150, 0.4);
    border: none;
    outline: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FF5C5C;
    color: #FFFFFF;
}
